body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.a_nome {
    text-decoration: none;
    color: rgb(199, 214, 228);
}
.a {
    text-decoration: none;
    color: rgb(199, 214, 228);
}
.a:hover {
    border-radius: 10px;
    transform-style: unset;
    background-color: #282844;
    border: solid 1px #353553;
    color: rgb(224, 233, 241);
}
.name {
    font-size: 25px;
    color: rgb(199, 214, 228);
}
.menu {
    display: flex;
}
.menu li {
    margin-left: 20px;
}
.menu li a {
    display: block;
    padding: 10px;
}