.titleHome {
    margin: 15px 0;
    color: rgba(241, 247, 252, 0.6);
}
.textos {
    padding: 10px 20px;
}
.p {
    margin-bottom: 20px;
    color: rgba(241, 247, 252, 0.6);
}
.p2 {
    margin-top: 40px;
    text-align: center;
    color: rgba(241, 247, 252, 0.6);
}
.p2 .icon {
    font-size: 40px;
}